<div class="examsWrapper">
    <div id="solutions">
        <div class="well exam solutions">
            <div class="col-xs-offset-1 col-xs-10">
                <div class="form-group">
                    <legend>РЕЗУЛЬТАТ ЭКЗАМЕНА</legend>
                </div>
            </div>

            <div class="col-xs-offset-1 col-xs-10">
                <ul>
                    <li>Всего вопросов: {{count}}</li>
                    <li>Правельных ответов: {{correctAnswers}}</li>
                    <li>Не правельных ответов: {{wrongAnswers}}</li>
                    <li>Вопросы без ответа: {{noAnswers}}</li>
                    <li>Итого: {{total}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
